.complete {
  text-decoration: line-through;
}

.App {
  margin-top: 4vh;
  margin-left: 4vw;
}

.ClearTodo {
  color: darkcyan;
}
.ClearTodo label {
  cursor: pointer;
}

.ClearTodo:hover {
  color: darkblue;
}